[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uild/
[Bb]uilds/
.vs/
.idea/
*.csproj
*.sln
*.slnx
*.user
*.log
*.pidb
*.pdb
*.opendb
*.VC.db
MemoryCaptures/
Recordings/
.physics-check/
